<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Test Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}"  />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/bootstrap.css') }}"  />
</head>

<body>
  <div class="col-md-offset-1 col-md-10">
    <h1>Sherlock Stocks</h1>
    <hr style="margin-bottom: 5px"/>
  </div>
  <div class="col-md-offset-2 col-md-4">
    <form action="{{ url_for('form')}}" method="POST">
      <div>
        <h3>Stock:</h3>
        <!-- <input class="form-control" type="text" name="tickerArr" value="GOOG"> -->
        <div>
          <label class="checkbox">
            <input type="checkbox" name="MSFT" value="edit"> MSFT
          </label>
          <label class="checkbox">
            <input type="checkbox" name="NDAQ" value="edit"> NDAQ
          </label>
          <label class="checkbox">
            <input type="checkbox" name="IBM" value="edit"> IBM
          </label>
          <label class="checkbox">
            <input type="checkbox" name="BLK" value="edit"> BLK
          </label>
          <label class="checkbox">
            <input type="checkbox" name="KLAC" value="edit"> KLAC
          </label>
          <label class="checkbox">
            <input type="checkbox" name="ORCL" value="edit"> ORCL
          </label>
          <label class="checkbox">
            <input type="checkbox" name="FEYE" value="edit"> FEYE
          </label>
          <label class="checkbox">
            <input type="checkbox" name="COF" value="edit"> COF
          </label>
          <label class="checkbox">
            <input type="checkbox" name="SAP" value="edit"> SAP
          </label>
          <label class="checkbox">
            <input type="checkbox" name="SQ" value="edit"> SQ
          </label>
          <label class="checkbox">
            <input type="checkbox" name="FB" value="edit"> FB
          </label>
          <label class="checkbox">
            <input type="checkbox" name="GDDY" value="edit"> GDDY
          </label>
          <label class="checkbox">
            <input type="checkbox" name="SYNA" value="edit"> SYNA
          </label>
          <label class="checkbox">
            <input type="checkbox" name="TWLO" value="edit"> TWLO
          </label>
          <label class="checkbox">
            <input type="checkbox" name="TYO" value="edit"> TYO
          </label>
        </div>
        <h3>Start Date:</h3>
        <input class="form-control" type="text" name="startDate" value="9/1/2015">
        <h3>End Date:</h3>
        <input class="form-control" type="text" name="endDate" value="9/5/2015">
        <input class="btn btn-info" type="submit" value="Submit">
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <!-- img src="{{ url_for('static', filename='./img/sherlock.png')}}" /-->
  </div>
</body>


</html>
